<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>RC001AudioDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.wangxi.RC001MacBridge.AudioDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RC001 Remote Microphone</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.7</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>CCF79D23-AD41-4A37-8AE3-68B47C623C82</key>
		<string>NullAudio_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>CCF79D23-AD41-4A37-8AE3-68B47C623C82</string>
		</array>
	</dict>
</dict>
</plist>
